html {
  background-color: #FFFEFC;
  color: #6a6359;
  font-family: Menlo, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  font-size: 17px;
}
a {
  color: #6a6359;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #15202B;
    color: #c9d1d9;
  }
  a {
    color: #c9d1d9;
  }
}

@media screen and (max-width: 700px) {
  html {
    font-size: 15px;
  }
}

body {
  margin: 0;
  border: 0;
}

h1 {
  margin: 0 0 5px 0;
  font-size: 1.3em;
}

h2 {
  margin: 30px 0 5px 0;
  font-size: 1em;
}
h2:before {
  content: "## ";
}

h3 {
  margin: 20px 0 5px 0;
  font-size: 1em;
}
h3:before {
  content: "### ";
}

header {
  max-width: 700px;
  padding: 15px 10%;
  margin: auto;
  height: 25px;
}

footer {
  max-width: 700px;
  padding: 15px 10%;
  margin: auto;
  height: 25px;
}

#content {
  max-width: 700px;
  margin: auto;
  padding: 5px 10%;
}

.date {
  font-size: 0.8em;
  text-align: right;
}

a:hover {
  color: #ffbf00;
}

ul {
  list-style: "- ";
  padding-left: 20px;
}

pre {
  background-color: #3b3228;
  color: #c9d1d9;
  padding: 15px 10px;
}

.sns_link {
  font-size: 1.3em;
  text-decoration: none;
  padding: 0 3px;
}

.sns_link:hover {
  color: #ffbf00;
}

