@import "tailwindcss" reference;

/* Headers */
h1 {
  @apply text-2xl mt-20 py-2 mb-14 font-medium text-center;
}
h2 {
  @apply text-xl mt-14 py-2 mb-4 font-medium border-b;
}
h3,
h4 {
  @apply text-lg mt-12 mb-2 font-medium;
}

/* Links */
a {
  @apply text-blue-600;
}
a:hover {
  @apply underline;
}

/* Paragraph */
p {
  @apply mb-8 text-justify hyphens-auto;
}

/* Lists */
li {
  @apply m-1;
}
ol {
  @apply list-decimal mb-4 ml-8;
}
ul {
  @apply list-disc mb-4 ml-8;
}

/* Blockquotes */
blockquote {
  @apply p-2 mx-6 bg-gray-100 mb-4 border-l-4 border-gray-400 italic;
}
blockquote > p {
  @apply mb-0;
}

/* Tables */
td,
th {
  @apply px-2 py-1 border border-gray-400;
}
thead tr {
  @apply bg-gray-100;
}
tbody tr:nth-child(even) {
  @apply bg-gray-100;
}
table {
  @apply mb-6;
}

/* Code */
:not(pre) > code {
  @apply bg-gray-100 px-1 py-0.5 rounded text-sm;
}
pre {
  @apply bg-gray-900 rounded overflow-x-auto mb-6;
}
pre code {
  @apply block text-sm p-4 text-gray-100 bg-transparent;
}
