---
import "../styles/global.css";

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="manifest" href="/manifest.json" />
    <link
      rel="apple-touch-icon"
      sizes="192x192"
      href="/img/icons/grandcolline_196.png"
    />
  </head>
  <body class="font-sans leading-relaxed text-base md:w-[700px] w-full mx-auto p-6 text-zinc-900">
    <slot />
  </body>
</html>
