---
import "../styles/markdown.css";

const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <title>{frontmatter.title}</title>
    <meta name="description" content={frontmatter.description} />
    <link rel="manifest" href="/manifest.json" />
    <link
      rel="apple-touch-icon"
      sizes="192x192"
      href="/img/icons/grandcolline_196.png"
    />
  </head>
  <body class="font-sg leading-relaxed text-base md:w-700 w-full mx-auto p-6 text-zinc-600">
    <slot />
  </body>
</html>
